.title {
    text-align: center;
    color: blue;
}

.containerForm {
    display: flex;
    justify-content: center;

}

.inputsforName {
    display: flex;
    justify-content: space-around;
    color: red;
}