.title {
  color: blueviolet;
}

.containerForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  background-color: #7E5DC5;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-form {
  display: flex;
  flex-direction: row;
  justify-self: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.main-form .MuiTextField-root {
  margin: 10px;
  width: calc(100% - 10px);
  flex: 1 0 70%;
}

.main-form .MuiTextField-root input {
  color:#380f50;
}

.main-form .MuiTextField-root label {
  color: blueviolet;
}

.div-80-width {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 990px;
  margin: 20px;
  background-color: white;
  align-content: center;
  border-radius: 100px;
}
.inputsforName {
  display: flex;
  justify-content: space-around;
  color: red;
}

.submitButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    background-color: blueviolet;
    font-size: 25px;
    border-radius: 25px;
    color: white;
}

.passwordAndHelperText {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;   
}

.passwordGroup {
    display:flex;
    width: 67%;
}

.passwordHelperText {
    display: flex;
    width: 100%;
    margin-left: 2em;
}
.formHelperText {
    display: flex;
    align-items: flex-end;
}

